USE [hotel]
GO
/****** Object:  Table [dbo].[cidades]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cidades](
	[cidade_ID] [int] IDENTITY(1,1) NOT NULL,
	[estado_ID] [int] NOT NULL,
	[cidade] [varchar](100) NOT NULL,
	[ddd] [varchar](6) NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cidade_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[cliente_ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[data_nascimento] [date] NOT NULL,
	[telefone] [varchar](15) NULL,
	[cpf] [varchar](14) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[rg] [varchar](20) NULL,
	[cep] [varchar](10) NOT NULL,
	[logradouro] [varchar](100) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[bairro] [varchar](100) NOT NULL,
	[cidade_id] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
	[apelido] [varchar](100) NULL,
	[celular] [varchar](15) NULL,
	[nome_contato] [varchar](100) NULL,
	[estado] [varchar](100) NULL,
	[pais] [varchar](100) NULL,
	[condicao_pagamento] [varchar](100) NULL,
	[tipo_pessoa] [varchar](10) NULL,
	[complemento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[condicaoPagamento]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condicaoPagamento](
	[CondPagamento_ID] [int] IDENTITY(1,1) NOT NULL,
	[condicaoPagamento] [varchar](50) NOT NULL,
	[desconto] [decimal](10, 2) NULL,
	[juros] [decimal](10, 2) NULL,
	[multa] [decimal](10, 2) NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [date] NOT NULL,
	[data_ult_alt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CondPagamento_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contasPagar]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contasPagar](
	[numeroNota] [int] NOT NULL,
	[serie] [int] NOT NULL,
	[idFornecedor] [int] NOT NULL,
	[dataEmissao] [date] NOT NULL,
	[FormaPagamento_ID] [int] NOT NULL,
	[parcela] [int] NOT NULL,
	[valorParcela] [decimal](10, 2) NOT NULL,
	[data_vencimento] [date] NOT NULL,
	[data_pagamento] [date] NULL,
	[juros] [decimal](10, 2) NULL,
	[multa] [decimal](10, 2) NULL,
	[desconto] [decimal](10, 2) NULL,
	[valor_pago] [decimal](10, 2) NULL,
	[data_cancelamento] [date] NULL,
	[observacao] [varchar](200) NULL,
	[data_cadastro] [date] NOT NULL,
	[data_ult_alt] [date] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_contasPagar] PRIMARY KEY CLUSTERED 
(
	[numeroNota] ASC,
	[serie] ASC,
	[idFornecedor] ASC,
	[parcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contasReceber]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contasReceber](
	[numeroNota] [int] NOT NULL,
	[serie] [int] NOT NULL,
	[cliente_ID] [int] NOT NULL,
	[data_emissao] [date] NOT NULL,
	[FormaPagamento_ID] [int] NOT NULL,
	[parcela] [int] NOT NULL,
	[valor_parcela] [decimal](10, 2) NOT NULL,
	[data_vencimento] [date] NOT NULL,
	[data_recebimento] [date] NULL,
	[juros] [decimal](10, 2) NULL,
	[multa] [decimal](10, 2) NULL,
	[desconto] [decimal](10, 2) NULL,
	[valor_recebido] [decimal](10, 2) NULL,
	[data_cancelamento] [date] NULL,
	[observacao] [varchar](200) NULL,
	[data_cadastro] [date] NOT NULL,
	[data_ult_alt] [date] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_contasReceber] PRIMARY KEY CLUSTERED 
(
	[numeroNota] ASC,
	[serie] ASC,
	[cliente_ID] ASC,
	[parcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[estado_ID] [int] IDENTITY(1,1) NOT NULL,
	[pais_ID] [int] NOT NULL,
	[estado] [varchar](56) NOT NULL,
	[uf] [varchar](2) NOT NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formaPagamento]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formaPagamento](
	[FormaPagamento_ID] [int] IDENTITY(1,1) NOT NULL,
	[formaPagamento] [varchar](50) NULL,
	[ativo] [bit] NOT NULL,
	[dataCadastro] [date] NOT NULL,
	[dataUltAlt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormaPagamento_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fornecedor]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fornecedor](
	[fornecedor_ID] [int] IDENTITY(1,1) NOT NULL,
	[tipo_pessoa] [bit] NOT NULL,
	[fornecedor_razao_social] [varchar](255) NOT NULL,
	[apelido_nome_fantasia] [varchar](255) NOT NULL,
	[endereco] [varchar](255) NOT NULL,
	[bairro] [varchar](255) NOT NULL,
	[numero] [int] NOT NULL,
	[cep] [varchar](20) NOT NULL,
	[complemento] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[telefone] [varchar](20) NULL,
	[celular] [varchar](20) NULL,
	[nome_contato] [varchar](255) NULL,
	[cpf_cnpj] [varchar](20) NOT NULL,
	[rg_ie] [varchar](20) NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
	[ativo] [bit] NOT NULL,
	[cidade_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fornecedor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcionarios]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarios](
	[funcionario_ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](70) NOT NULL,
	[sobrenome] [varchar](50) NULL,
	[endereco] [varchar](150) NULL,
	[bairro] [varchar](100) NULL,
	[numero] [int] NULL,
	[cep] [varchar](8) NULL,
	[complemento] [varchar](100) NULL,
	[sexo] [varchar](10) NULL,
	[email] [varchar](100) NULL,
	[telefone] [varchar](50) NULL,
	[celular] [varchar](50) NULL,
	[data_nascimento] [date] NULL,
	[cpf] [varchar](14) NULL,
	[rg] [varchar](14) NULL,
	[cargo] [varchar](50) NOT NULL,
	[salario] [decimal](10, 2) NOT NULL,
	[pis] [varchar](11) NOT NULL,
	[data_admissao] [datetime] NOT NULL,
	[data_demissao] [date] NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [date] NOT NULL,
	[data_ult_alt] [date] NOT NULL,
	[cidade_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[funcionario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospede]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospede](
	[hospede_id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[sobrenome] [varchar](100) NULL,
	[sexo] [char](1) NULL,
	[ativo] [bit] NOT NULL,
	[cep] [varchar](10) NULL,
	[logradouro] [varchar](150) NULL,
	[numero] [varchar](10) NULL,
	[complemento] [varchar](100) NULL,
	[bairro] [varchar](100) NULL,
	[cidade_id] [int] NULL,
	[cidade] [varchar](100) NULL,
	[estado] [varchar](50) NULL,
	[pais] [varchar](50) NULL,
	[estrangeiro] [bit] NULL,
	[cpf] [varchar](14) NULL,
	[rg] [varchar](20) NULL,
	[passaporte] [varchar](20) NULL,
	[telefone] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[data_nascimento] [date] NULL,
	[pcd] [bit] NULL,
	[observacao] [text] NULL,
	[data_cadastro] [datetime] NULL,
	[data_ult_alt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[hospede_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nota_compra]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nota_compra](
	[num_Nota] [int] NOT NULL,
	[modelo] [int] NOT NULL,
	[serie] [int] NOT NULL,
	[fornecedor_ID] [int] NOT NULL,
	[data_emissao] [date] NOT NULL,
	[data_chegada] [date] NOT NULL,
	[tipo_frete] [bit] NOT NULL,
	[valor_frete] [decimal](10, 2) NULL,
	[valor_seguro] [decimal](10, 2) NULL,
	[outras_despesas] [decimal](10, 2) NULL,
	[total_produtos] [decimal](10, 2) NOT NULL,
	[total_pagar] [decimal](10, 2) NOT NULL,
	[Cond_Pagamento_ID] [int] NOT NULL,
	[observacao] [varchar](200) NULL,
	[data_cancelamento] [date] NULL,
	[data_cadastro] [date] NOT NULL,
	[data_ult_alt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[num_Nota] ASC,
	[modelo] ASC,
	[serie] ASC,
	[fornecedor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paises]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[pais_ID] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](56) NOT NULL,
	[ddi] [varchar](3) NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
	[sigla] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pais_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parcelas]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parcelas](
	[parcela_ID] [int] IDENTITY(1,1) NOT NULL,
	[numeroParcela] [int] NOT NULL,
	[dias] [int] NOT NULL,
	[porcentagem] [decimal](5, 2) NOT NULL,
	[CondPagamento_ID] [int] NOT NULL,
	[FormaPagamento_ID] [int] NOT NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[parcela_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[produto_ID] [int] NOT NULL,
	[produto] [nvarchar](100) NOT NULL,
	[unidade] [nvarchar](20) NULL,
	[saldo] [int] NULL,
	[custo_medio] [decimal](18, 2) NULL,
	[preco_venda] [decimal](18, 2) NULL,
	[preco_ult_compra] [decimal](18, 2) NULL,
	[data_ult_compra] [datetime] NULL,
	[observacao] [nvarchar](max) NULL,
	[idFornecedor] [int] NULL,
	[data_cadastro] [datetime] NULL,
	[data_ult_alt] [datetime] NULL,
	[ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[produto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quartos]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quartos](
	[quarto_ID] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[andar] [int] NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[descricao] [varchar](255) NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
	[disponivel] [bit] NOT NULL,
	[valor] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[quarto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reserva]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reserva](
	[reserva_ID] [int] IDENTITY(1,1) NOT NULL,
	[cliente_ID] [int] NOT NULL,
	[nome_cliente] [varchar](100) NOT NULL,
	[cpf_cliente] [varchar](14) NULL,
	[celular_cliente] [varchar](15) NULL,
	[quarto_ID] [int] NOT NULL,
	[numero_quarto] [varchar](10) NOT NULL,
	[andar] [int] NULL,
	[valor_diaria] [decimal](10, 2) NOT NULL,
	[valor_total] [decimal](10, 2) NOT NULL,
	[data_checkin] [date] NOT NULL,
	[data_checkout] [date] NOT NULL,
	[num_dias] [int] NOT NULL,
	[status_pagamento] [bit] NOT NULL,
	[condicao_pagamento_ID] [int] NULL,
	[condicao_pagamento] [varchar](100) NULL,
	[status_reserva] [varchar](50) NOT NULL,
	[data_cancelamento] [date] NULL,
	[observacao] [varchar](200) NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime] NOT NULL,
	[data_ult_alt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reserva_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 28/10/2024 16:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[usuario_ID] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
	[permissao] [varchar](50) NOT NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [date] NOT NULL,
	[data_ult_alt] [date] NOT NULL,
	[usuario_ult_alt] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fornecedor] ADD  DEFAULT (getdate()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[fornecedor] ADD  DEFAULT (getdate()) FOR [data_ult_alt]
GO
ALTER TABLE [dbo].[hospede] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[hospede] ADD  DEFAULT (getdate()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[hospede] ADD  DEFAULT (getdate()) FOR [data_ult_alt]
GO
ALTER TABLE [dbo].[parcelas] ADD  DEFAULT (getdate()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[parcelas] ADD  DEFAULT (getdate()) FOR [data_ult_alt]
GO
ALTER TABLE [dbo].[parcelas] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[cidades]  WITH CHECK ADD FOREIGN KEY([estado_ID])
REFERENCES [dbo].[estados] ([estado_ID])
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Cidades] FOREIGN KEY([cidade_id])
REFERENCES [dbo].[cidades] ([cidade_ID])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [FK_Clientes_Cidades]
GO
ALTER TABLE [dbo].[contasPagar]  WITH CHECK ADD  CONSTRAINT [FK_idFormaPagamento_contasPagar] FOREIGN KEY([FormaPagamento_ID])
REFERENCES [dbo].[formaPagamento] ([FormaPagamento_ID])
GO
ALTER TABLE [dbo].[contasPagar] CHECK CONSTRAINT [FK_idFormaPagamento_contasPagar]
GO
ALTER TABLE [dbo].[contasReceber]  WITH CHECK ADD  CONSTRAINT [FK_idFormaPagamento_contasReceber] FOREIGN KEY([FormaPagamento_ID])
REFERENCES [dbo].[formaPagamento] ([FormaPagamento_ID])
GO
ALTER TABLE [dbo].[contasReceber] CHECK CONSTRAINT [FK_idFormaPagamento_contasReceber]
GO
ALTER TABLE [dbo].[estados]  WITH CHECK ADD FOREIGN KEY([pais_ID])
REFERENCES [dbo].[paises] ([pais_ID])
GO
ALTER TABLE [dbo].[fornecedor]  WITH CHECK ADD FOREIGN KEY([cidade_id])
REFERENCES [dbo].[cidades] ([cidade_ID])
GO
ALTER TABLE [dbo].[funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_idCidade_funcionario] FOREIGN KEY([cidade_ID])
REFERENCES [dbo].[cidades] ([cidade_ID])
GO
ALTER TABLE [dbo].[funcionarios] CHECK CONSTRAINT [FK_idCidade_funcionario]
GO
ALTER TABLE [dbo].[nota_compra]  WITH CHECK ADD  CONSTRAINT [FK_cond_pagamento_ID_notaCompra] FOREIGN KEY([Cond_Pagamento_ID])
REFERENCES [dbo].[condicaoPagamento] ([CondPagamento_ID])
GO
ALTER TABLE [dbo].[nota_compra] CHECK CONSTRAINT [FK_cond_pagamento_ID_notaCompra]
GO
ALTER TABLE [dbo].[nota_compra]  WITH CHECK ADD  CONSTRAINT [FK_Fornecedor_ID_notaCompra] FOREIGN KEY([fornecedor_ID])
REFERENCES [dbo].[fornecedor] ([fornecedor_ID])
GO
ALTER TABLE [dbo].[nota_compra] CHECK CONSTRAINT [FK_Fornecedor_ID_notaCompra]
GO
ALTER TABLE [dbo].[parcelas]  WITH CHECK ADD  CONSTRAINT [FK_CondicaoPagamento] FOREIGN KEY([CondPagamento_ID])
REFERENCES [dbo].[condicaoPagamento] ([CondPagamento_ID])
GO
ALTER TABLE [dbo].[parcelas] CHECK CONSTRAINT [FK_CondicaoPagamento]
GO
ALTER TABLE [dbo].[parcelas]  WITH CHECK ADD  CONSTRAINT [FK_FormaPagamento] FOREIGN KEY([FormaPagamento_ID])
REFERENCES [dbo].[formaPagamento] ([FormaPagamento_ID])
GO
ALTER TABLE [dbo].[parcelas] CHECK CONSTRAINT [FK_FormaPagamento]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD FOREIGN KEY([idFornecedor])
REFERENCES [dbo].[fornecedor] ([fornecedor_ID])
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD  CONSTRAINT [FK_cliente_reserva] FOREIGN KEY([cliente_ID])
REFERENCES [dbo].[clientes] ([cliente_ID])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [FK_cliente_reserva]
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD  CONSTRAINT [FK_cond_pagamento_reserva] FOREIGN KEY([condicao_pagamento_ID])
REFERENCES [dbo].[condicaoPagamento] ([CondPagamento_ID])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [FK_cond_pagamento_reserva]
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD  CONSTRAINT [FK_quarto_reserva] FOREIGN KEY([quarto_ID])
REFERENCES [dbo].[quartos] ([quarto_ID])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [FK_quarto_reserva]
GO
